<div class="container">
  <div
    class="arrow__prew"
    (click)="prevSlide()"
    (keydown)="handleKeyPress($event)"
    tabindex="0">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
      <path
        fill="#aaac"
        d="M15.293 3.293 6.586 12l8.707 8.707 1.414-1.414L9.414 12l7.293-7.293-1.414-1.414z" />
    </svg>
  </div>
  <div
    class="image-container"
    (click)="nextSlide()"
    (keydown)="handleKeyPress($event)"
    tabindex="0">
    <img
      [src]="images[prevSlideIndex()]"
      class="image image__prev"
      alt="slider-image" />
    <img
      [src]="images[currentSlideIndex]"
      class="image image__current"
      alt="slider-image" />
    <img
      [src]="images[nextSlideIndex()]"
      class="image image__next"
      alt="slider-image" />
  </div>
  <div
    class="arrow__next"
    (click)="nextSlide()"
    (keydown)="handleKeyPress($event)"
    tabindex="0">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
      <path
        fill="#aaac"
        d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z" />
    </svg>
  </div>
</div>
