.main-news-container {
  max-width: 1240px;
  margin: 5rem auto 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;

  .heading-container {
    max-width: 610px;
    display: flex;
    flex-direction: column;
    gap: 7rem;

    h1 {
      font-size: 20px;
      font-weight: 500;
    }

    .title-new-container {

      a {
        max-width: 610px;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h2 {
          font-size: 48px;
          font-weight: 700;
          line-height: 3rem;
          margin: 0;
        }

        p {
          font-size: 20px;
          font-weight: 400;
          line-height: 1.4rem;
        }
      }
    }
  }

  .additional-container {
    max-width: 340px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .additional-news {
      display: flex;
      flex-direction: column;
      gap: .5rem;

      .new-1,
      .new-2,
      .new-3 {
        min-height: 8rem;

        a {

          h4 {
            margin: 1rem 0 2rem;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 0.3px;
          }
        }
      }

      .new-1,
      .new-2 {
        border-bottom: 2px solid #fff;
      }
    }

    .read-more-pseudobutton {
      align-self: center;

      a {
        width: 114px;
        height: 40px;
        border: 1px solid #fff;
        background-color: #fff4;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.ads-container {
  display: flex;
  justify-content: center;
  margin: 6rem 3rem;
}