<div class="main-news-container">
  <div class="heading-container">
    <h1 class="main-header">IT ЕЖЕНЕДЕЛЬНИК</h1>

    <div class="title-new-container">
      <a href="news/:id{{ new_1_id }}" class="title-new-link">
        <h2 *ngIf="new_1_header">
          {{ new_1_header | slice: 0 : 60
          }}{{ new_1_header.length > 60 ? '...' : '' }}
        </h2>
        <p>
          {{ new_1_main | slice: 0 : 100
          }}{{ new_1_main.length > 100 ? '...' : '' }}
        </p>
      </a>
    </div>
  </div>
  <div class="additional-container">
    <div class="additional-news">
      <div class="new-1">
        <a href="news/:id{{ new_2_id }}" class="new-1-link">
          <h4 *ngIf="new_2_header">
            {{ new_2_header | slice: 0 : 70
            }}{{ new_1_header.length > 70 ? '...' : '' }}
          </h4>
        </a>
      </div>
      <div class="new-2">
        <a href="news/:id{{ new_3_id }}" class="new-2-link">
          <h4 *ngIf="new_3_header">
            {{ new_3_header | slice: 0 : 70
            }}{{ new_3_header.length > 70 ? '...' : '' }}
          </h4>
        </a>
      </div>
      <div class="new-3">
        <a href="news/:id{{ new_4_id }}" class="new-3-link">
          <h4 *ngIf="new_4_header">
            {{ new_4_header | slice: 0 : 70
            }}{{ new_4_header.length > 70 ? '...' : '' }}
          </h4>
        </a>
      </div>
    </div>
    <div class="read-more-pseudobutton">
      <a routerLink="/news">ещё</a>
    </div>
  </div>
</div>

<div class="things-container">
  <app-thing></app-thing>
</div>
