<div class="main-stories-container">
  <div class="heading-container">
    <h1 class="main-header">ИСТОРИИ</h1>
  </div>
  <div class="additional-container">
    <app-square025
      *ngIf="storiesList[0]"
      [data]="storiesList[0]"></app-square025>
    <app-square025
      *ngIf="storiesList[1]"
      [data]="storiesList[1]"></app-square025>
    <app-square05 *ngIf="storiesList[2]" [data]="storiesList[2]"></app-square05>
    <app-square05 *ngIf="storiesList[3]" [data]="storiesList[3]"></app-square05>
    <app-square025
      *ngIf="storiesList[4]"
      [data]="storiesList[4]"></app-square025>
    <app-square025
      *ngIf="storiesList[5]"
      [data]="storiesList[5]"></app-square025>
  </div>
  <div class="read-more-pseudobutton">
    <a routerLink="/stories">ещё</a>
  </div>
</div>
