<div class="main-stories-container">
  <div class="heading-container">
    <h1 class="main-header">ИСТОРИИ</h1>

  </div>
  <div class="additional-container">
    <app-square025 [data]="newsList[2]"></app-square025>
    <app-square025 [data]="newsList[2]"></app-square025>
    <app-square05 [data]="newsList[1]"></app-square05>
    <app-square05 [data]="newsList[1]"></app-square05>
    <app-square025 [data]="newsList[2]"></app-square025>
    <app-square025 [data]="newsList[2]"></app-square025>
  </div>
  <div class="read-more-pseudobutton">
    <a href="/stories">ещё</a>
  </div>
</div>