.main-stories-container {
  max-width: 1240px;
  margin: 5rem auto 5rem;
  padding: 0 4rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

  .heading-container {
    max-width: 610px;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .additional-container {
    margin: 4rem 0;
    max-width: 1240px;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .read-more-pseudobutton {
    display: flex;
    align-self: end;
    margin: 0 5rem;

    a {
      width: 114px;
      height: 40px;
      border: 1px solid #fff;
      background-color: #fff4;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}