.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .new-container {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .new-heading {
      padding: 5rem 0 0;
      min-height: 32rem;
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      h2 {
        word-wrap: break-word;
        font-size: 48px;
        max-width: 60%;
        text-align: center;
      }

      .new-date {
        h4 {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }

    .new-content {
      box-sizing: border-box;
      max-width: 926px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      align-items: center;
      background-color: #fff;
      color: #000;
      margin: -10rem 0 -6rem 0;
      padding: 5rem 10rem;
      border-radius: 25px;

      .new-subheader {
        text-align: center;
        padding: 2rem 0;
        width: 80%;
      }

      .new-main-text-1 {
        p {
          font-size: 20px;
          line-height: 28px;
          font-weight: 300;
        }
      }

      .new-video {
        margin: 2rem 0;
        width: 100%;
        max-width: 600px;
        height: 320px;
      }

      .new-image-0 {
        img {
          max-width: 100%;
          height: auto;
        }
      }

      .new-subtext-0 {
        p {
          font-size: 20px;
          line-height: 28px;
          font-weight: 300;
        }
      }

      .new-image-1 {
        img {
          max-width: 100%;
          height: auto;
        }
      }

      .new-subtext-1 {
        p {
          font-size: 20px;
          line-height: 28px;
          font-weight: 300;
        }
      }

      .new-author {
        p {
          font-size: 20px;
          line-height: 28px;
          font-weight: 400;
          padding: 2rem 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
  .container {
    .new-container {

      .new-heading {
        min-height: 60rem;

        h2 {
          font-size: 46px;
          max-width: 90%;
        }
      }

      .new-content {
        max-width: 668px;
        margin: -40rem 0 -6rem 0;
        padding: 2rem 4rem;

        .new-subheader {
          padding: 2rem 0;
          width: 80%;
        }

        .new-video {
          max-width: 540px;
          height: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    .new-container {

      .new-heading {
        min-height: 55rem;

        h2 {
          font-size: 26px;
          max-width: 90%;
        }
      }

      .new-content {
        max-width: 425px;
        margin: -40rem 0 -6rem 0;
        padding: 2rem 3rem;

        .new-subheader {
          padding: 2rem 0;

          h2 {
            font-size: 20px;
          }
        }

        .new-main-text-1 {
          p {
            font-size: 16px;
          }
        }

        .new-video {
          max-width: 425px;
          height: 200px;
        }

        .new-subtext-0 {
          p {
            font-size: 16px;
          }
        }

        .new-subtext-1 {
          p {
            font-size: 16px;
          }
        }

        .new-author {
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}