<header class="header">
  <div class="header-logo">
    <a class="header-logo-link" href="/main">
      <img src="../assets/icons/logo.svg" alt="Logo" class="header-logo-img">
    </a>
  </div>
  <nav class="header-links">
    <div class="links-container-1">
      <div class="news-link-container">
        <a href="/news" class="header-link header-link-news">новости</a>
      </div>
      <div class="news-link-container">
        <a href="/stories" class="header-link header-link-stories">истории</a>
      </div>
      <div class="news-link-container">
        <a href="/art" class="header-link header-link-art">арт</a>
      </div>
    </div>
    <div class="links-container-2">
      <div class="news-link-container">
        <a href="/events" class="header-link header-link-events">объявления</a>
      </div>
      <div class="news-link-container">
        <a href="/tell" class="header-link header-link-tell">рассказать историю</a>
      </div>
    </div>
  </nav>
  <div class="social-media-links">
    <div class="social-media-link-container">
      <a class="social-media-link" href="https://t.me/eneik_group" target="_blank">
        <img src="../assets/icons/tg-icon.svg" alt="Telegram">
      </a>
    </div>
    <div class="social-media-link-container">
      <a class="social-media-link" href="https://www.instagram.com/eneik.coworking" target="_blank">
        <img src="../assets/icons/inst-icon.svg" alt="Instagram">
      </a>
    </div>
    <div class="social-media-link-container">
      <a class="social-media-link" href="https://www.youtube.com/@Eneik_Coworking" target="_blank">
        <img src="../assets/icons/utb-icon.svg" alt="Youtube">
      </a>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="footer-container">
    <div class="footer-links-1">
      <div class="footer-logo">
        <a href="footer-logo-link">
          <img src="../assets/icons/logo-footer.svg" alt="Logo" class="footer-logo-img">
        </a>
      </div>
    </div>
    <div class="footer-links-2">
      <div class="abotut">
        <a href="/about" class="footer-link footer-link-about">О ПРОЕКТЕ</a>
      </div>
      <div class="news-link-container">
        <a href="/news" class="footer-link footer-link-news">НОВОСТИ</a>
      </div>
      <div class="news-link-container">
        <a href="/stories" class="footer-link footer-link-stories">ИСТОРИИ</a>
      </div>
    </div>
    <div class="footer-links-3">
      <div class="news-link-container">
        <a href="/art" class="footer-link footer-link-art">АРТ КОЛЛЕКЦИЯ</a>
      </div>
      <div class="news-link-container">
        <a href="/events" class="footer-link footer-link-events">ОБЯВЛЕНИЯ</a>
      </div>
      <div class="news-link-container">
        <a href="/tell" class="footer-link footer-link-tell">РАССКАЗАТЬ ИСТОРИЮ</a>
      </div>
    </div>
    <div class="footer-links-4">
      <div class="news-link-container">
        <a href="/privacy" class="footer-link footer-link-privacy">Бла бла бла. Какая-то инфа о чем-то там<br>бла бла бла. Тру ля ля 250 0234.</a>
      </div>
      <div class="social-media-links">
        <div class="social-media-link-container">
          <a class="social-media-link" href="https://t.me/eneik_group" target="_blank">
            <img src="../assets/icons/tg-icon.svg" alt="Telegram">
          </a>
        </div>
        <div class="social-media-link-container">
          <a class="social-media-link" href="https://www.instagram.com/eneik.coworking" target="_blank">
            <img src="../assets/icons/inst-icon.svg" alt="Instagram">
          </a>
        </div>
        <div class="social-media-link-container">
          <a class="social-media-link" href="https://www.youtube.com/@Eneik_Coworking" target="_blank">
            <img src="../assets/icons/utb-icon.svg" alt="Youtube">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>