.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .story-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .story-heading {
      min-height: 40rem;
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;

      h2 {
        font-size: 48px;
        max-width: 60%;
        text-align: center;
      }

      .story-date {
        h4 {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }

    .story-content {
      box-sizing: border-box;
      width: 926px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      align-items: center;
      background-color: #fff;
      color: #000;
      margin: -10rem 0 0 0;
      padding: 5rem 10rem;
      border-radius: 25px;

      .story-subheader {
        h2 {}
      }

      .story-main-text-1 {
        p {
          font-size: 20px;
          line-height: 28px;
          font-weight: 300;
        }
      }

      .story-image-0 {
        img {
          max-width: 768px;
          height: auto;
        }
      }

      .story-subtext-0 {
        p {
          font-size: 20px;
          line-height: 28px;
          font-weight: 300;
        }
      }

      .story-image-1 {
        img {
          max-width: 768px;
          height: auto;
        }
      }

      .story-subtext-1 {
        p {
          font-size: 20px;
          line-height: 28px;
          font-weight: 300;
        }
      }

      .story-author {
        p {
          font-size: 20px;
          line-height: 28px;
          font-weight: 400;
        }
      }
    }
  }
}