<div class="container">
  <div class="story-container">
    <div class="story-heading"
      [style.background-image]="(single_story?.main_image) ? 'linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(' + single_story?.main_image + ')' : 'linear-gradient(0deg, rgba(100, 100, 200, 0.4) 0%, rgba(0, 0, 0, 0.9) 100%)'">
      <h2>{{ single_story?.header }}</h2>
      <div class="story-date">
        <h4>Истории / {{ single_story?.date | date: 'dd.MM.yyyy' }}</h4>
      </div>
    </div>
    <div class="story-content">
      <div class="story-subheader">
        <h2>{{ single_story?.subheader }}</h2>
      </div>
      <div class="story-main-text-1">
        <p>{{ single_story?.main_text }}</p>
      </div>
      <div class="story-image-0">
        <img [src]="single_story?.images_0?.[0]" alt="Image 0">
      </div>
      <div class="story-subtext-0">
        <p>{{ single_story?.sub_text_0 }}</p>
      </div>
      <div class="story-image-1">
        <img [src]="single_story?.images_1?.[0]" alt="Image 1">
      </div>
      <div class="story-subtext-1">
        <p>{{ single_story?.sub_text_1 }}</p>
      </div>
      <div class="story-author">
        <p>Автор: {{ single_story?.author}}</p>
      </div>
    </div>
  </div>
</div>